<h1>Welcome to Dojo Pizzas</h1>
<img src="<%= asset_path 'kitty.jpg' %>" alt="an awesome kitty">

<% if @errors %>
    <% @errors.each do |error| %>
        <h3 class = 'danger'><%= error %></h3>
    <% end %>
<% end %>
<a href='/pizzas/new'>Add a Parlor</a>



<% content_for :right do %>
<table>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Actions</th>
    <% @pizzas.each do |pizza|  %>
    <tr>
        <td><%= pizza.name %></td>
        <td><%= pizza.address %></td>
        <td><%= pizza.city %></td>
        <td><%= pizza.state %></td>
        <td>
        
        <a href="/pizzas/<%= pizza.id %>">Show</a>
        |
        <a href="/pizzas/<%= pizza.id %>/edit">Edit</a>
        <form action='/pizzas/<%= pizza.id%>' method='post'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="_method" value="delete">
            <input class='danger' type="submit" value="DESTROY">
        </form>
        
        </td>
    </tr>
    <% end %>
</table>
<% end %>



<% content_for :left, "THIS IS ON THE LEFT" %>

